@import "elys_tabs.css";

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");




/* OLD COLOR #959CBF */

/* ACTIVE TAB BACKGROUND COLOR */

.tab-content[selected="true"] {
  background: #00FFFF !important;
}

tab[selected="true"] {
background-color: #00FFFF !important;
background-image: none !important;
font-weight: bold !important;
color: black !important;
}

tab:not([selected="true"] ) {
background-color: #959CBF !important;
background-image: none !important;
color: black !important;
}

.tab-line{
  display: none !important;
}
/* end */





/* TABS: on bottom */


/* end */





/* tab separators */
/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/tab_separator_lines.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */
/* Bring back tab separator lines that were removed in Proton */
.tabbrowser-tab{
  border-inline-end: 1px solid transparent !important;
  border-image: 0 1 linear-gradient(
    transparent 20%,
    color-mix(in srgb, currentColor 20%, transparent) 20%,
    color-mix(in srgb, currentColor 20%, transparent) 80%,
    transparent 80%
  ) !important;
}

.tabbrowser-tab:hover,
.tabbrowser-tab[beforehovered],
.tabbrowser-tab[selected],
.tabbrowser-tab[last-visible-tab],
.tabbrowser-tab[beforeselected-visible]{ border-image: none !important; }
/* end */




/* own custom menu colors */
#brandLogo {
  -moz-appearance: none !important;	
  width: 0px !important;
  padding-left: 154px !important;
  background: url("about.png") !important;
}


#urlbar {
-moz-appearance: none !important;
background-color: #E3E3E3 !important;
color: black !important; }

#textbox {
-moz-appearance: none !important;
background-color: #E3E3E3 !important;
}


/* get rid of the lines in menus */
.menupopup-arrowscrollbox{
  background-color: #959CBF !important;
}
#context-navigation .menu-iconic-icon {
  background-color: transparent !important;
}


menupopup {
    background-color: #959CBF !important;
}
menuitem > .menu-text, menuitem > .menu-iconic-text {
    color: black !important;
}
menuitem, menu {
    color: black !important;
}




menupopup > * {
  padding-block: 0 !important;
  padding-inline-start: 4px !important;
    min-height: unset !important;
    height: 1em !important;
}

menupopup > menuitem,
menupopup > menu {
  padding-block: 0 !important;
  padding-inline-start: 4px !important;
    min-height: unset !important;
    height: 1em !important;
}


/*** Set custom colors for popup menu color variables ***/
menupopup {
  --menu-color: #959CBF  !important;
  --menu-disabled-color: color-mix(in srgb, var(--menu-color) 50%, transparent) !important;
  --menu-background-color: #959CBF  !important;
  --menuitem-hover-background-color: #00FFFF !important;
}



menupopup {
-moz-appearance: none !important;	
background-color: #959CBF !important;
font-family: Fixedsys !important;
font-size: 16pt !important;
color: black !important;
padding: 1px 0px 1px 0px !important;
}

menubar {
-moz-appearance: none !important;
background-color: #959CBF !important;
font-family: Fixedsys !important;
font-size: 16pt !important;
color: black !important;
padding: 1px 0px 1px 0px !important;
}

menubar, menubutton, menulist, menu, menuitem, textbox, toolbar, tab, tree, tooltip {
    padding-block: 0 !important;
    padding-inline-start: 4px !important;
	background-color: #959CBF !important;
	padding: 1px 0px 1px 0px !important;	
}
	

menulist:hover {
-moz-appearance: none !important;
background-color: #00FFFF !important;
color: black !important;
}

menuitem, menu {
	-moz-appearance: none !important;
	background-color: #959CBF !important;
	padding: 1px 0px 1px 0px !important;
}

menuitem:hover, menu:hover, menu[open="true"], menuitem[_moz-menuactive="true"]	 {
	-moz-appearance: none !important;
	padding: 1px 0px 1px 4px !important;
	background-color: #00FFFF !important;
}

menucaption {
    -moz-appearance: none !important;
    background-color: #959CBF !important;
	color: black !important;
}


menuseparator{
   -moz-appearance: none !important;
   padding-top: 0px !important;
   padding-bottom: 1px !important;
   margin-top: 1px !important;
   margin-bottom: 1px !important;
   /*border-color: #959CBF !important;   
   background: #959CBF !important;*/
   background-color: #959CBF !important;
   -moz-border-top-colors: #959CBF !important;
   -moz-border-bottom-colors: #959CBF !important;
}
   

menuitem,
menu,
menubutton,
#menuToolbox {
-moz-appearance: none !important;	
background-color: #959CBF !important;
font-family: Fixedsys !important;
font-size: 16pt !important;
color: black !important;
margin-top: 1px!important;
margin-bottom: 1px!important;
padding: 1px 0px 1px 0px !important;
}

statusbar {
background-color: #959CBF !important;
font-family: Fixedsys !important;
font-size: 12pt !important;
color: black !important;
}


#statuspanel #statuspanel-label,
statuspanel .statuspanel-label {
  -moz-appearance: none !important;
  background-image: none !important;
  background-color: #959CBF !important;
  font-family: Fixedsys !important;
  font-size: 12pt !important;
  color: black !important;
}



#appmenu-button {	
-moz-appearance: none !important;
background-image: none !important;	
background: #959CBF !important;
border: 1px solid black !important;
}

#appmenu-button:hover:not(:active):not([open]) {	
-moz-appearance: none !important;
background-color: #00FFFF !important;
}

/* autocomplete */
.autocomplete-richlistitem:hover,
treechildren.searchbar-treebody::-moz-tree-row(hover) {
  -moz-appearance: none !important;	
  background-color: #00FFFF !important;
}

.autocomplete-richlistitem[selected],
treechildren.searchbar-treebody::-moz-tree-row(selected) {
  -moz-appearance: none !important;	
  background-color: #00FFFF !important;
}
/* autocomplete end */


/* Change the progress bar color */
.progress-bar {
-moz-appearance: none !important;
background-color: #00FFFF !important; }
/* end */




* {
background-image: none !important;	
font-family: fixedsys !important;
font-size: 12pt !important;
color: black !important;
}


{
background-image: none !important;
font-family: fixedsys !important;
font-size: 12pt !important;
color: black !important;
}





/* remove styling from buttons */
.toolbarbutton-1 > .toolbarbutton-icon,
.toolbarbutton-1 > .toolbarbutton-badge-container,
.toolbarbutton-1 > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
.toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon {
  background: transparent !important;
  background-image: none !important;
  border: none !important;
  box-shadow: none !important;
}



